<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/tagsinput.css" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>
        {% block title %}

        {% endblock title %}     
    </title>
</head>
<body>

    <nav>
        
        <a href="{% url 'forumapp:home' %}">
            <img src="{% static 'css/img/logo.png' %}" alt="pic" height="50" width="150">
        </a>

        <form action="{% url 'forumapp:search' %}" method="post">
            {% csrf_token %}
            <input type="text" name="search" placeholder="Search by title, text, author or tags ..." required>
            <button type="submit" class>Go!</button>
            <a href="{% url 'forumapp:home' %}">Reset</a>
        </form>

        {% if user.is_authenticated %}

            <a href="{% url 'forumapp:new_question' %}">New question</a>
            <a href="{% url 'forumapp:display_collection' 'quest' %}">Questions</a>
            <a href="{% url 'forumapp:display_collection' 'ans' %}">Answers</a>
            <a href="#">Stats</a>
          
            {% if user.userprofile %}
                <a href="#">
                    <img src="{{user.userprofile.avatar.url}}" alt="pics" height="50" width="50">
                </a>  
            {% endif %}
                
            <a href="{% url 'accounts:logout_user' %}">Log out</a>
        {% else %}
            <div></div>
            <div></div>
            <div></div>
            <a href="{% url 'accounts:register' %}">Register</a>
            <a href="{% url 'accounts:login_user' %}">Log in</a>
        {% endif %}

    </nav>

    <div class="my-row">
        {% block content %}
        
        {% endblock content %} 
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="/static/js/tagsinput.js"></script>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</body>
</html>
