/* 1200px - 1700px <=1700px */
@media only screen and (max-width: 1700px) {
    .nav-elements a{
        margin-left: 1rem;
        margin-right: 1rem;
    }

    nav form input[type='text']{
        width: 30rem;
        font-size: 1.4rem;
    }
}

/* nest hub small laptops big tablets */
@media only screen and (max-width: 1200px) {
    html, body{
        font-size: 8px;
    }

    nav form input[type='text']{
        width: 30rem;
        font-size: 1.4rem;
    }

    .forum-pic{
        width: 12rem;
        height: 4rem;
    }

    .user-pic{
        width: 4rem;
        height: 4rem;
    }

    nav a{
        font-size: 1.5rem;
    }

    .nav-from-btn{
        font-size: 1.5rem;
    }

    nav form{
        font-size: 1.5rem;
    }

    .user-info-post small{
        font-size: 1rem;
    }

    .user-info-post{
        margin-right: 1.2rem;
        margin-left: 0rem;
        width: 10%;
    }

    .quest-detailed-content-image{
        width: 90%;
    }

    .question-wall-inside-first h6{
        font-size: 1.3rem;
    }

    .question-wall-inside-first p,
    .question-wall-inside-first code,
    .question-actions,
    .question-wall-tags{
        font-size: 1.5rem;
    }

    .question-wall-inside-second img{
        height: 25rem;
        width: 30rem;
    }

    .detailed-quest{
        max-width: 100rem;
    }

    .user-mini{
        flex: 0 1 33%;
        padding: 1rem;
    }

    .user-mini img{
        height: 15rem;
        width: 15rem;
    }

    .users-list{
        margin: 0 20rem;
    }

    .all-chat-messages-content{
        width: 100rem;
        text-align: center;
        margin-left: 14rem;
    }

    .contact-side img,
    .my-user-side img{
        height: 11rem;
        width: 11rem;
    }
}

/* ipad mini */
/* 768px - 1023px <=1023px */
@media only screen and (max-width: 1023px) {
    html, body{
        font-size: 7px;
    }

    nav img{
        margin-right: 1rem;
    }

    .nav-elements a{
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }

    nav form input[type='text']{
        width: 25rem;
        font-size: 1.2rem;
    }

    nav a{
        font-size: 1.4rem;
    }

    .forum-pic{
        width: 10rem;
        height: 3.5rem;
    }

    nav form{
        font-size: 1.2rem;
    }

    .nav-from-btn{
        font-size: 1rem;
    }

    .user-pic{
        width: 3.5rem;
        height: 3.5rem;
    }

    .question-wall-inside-first p,
    .question-wall-inside-first code,
    .question-actions,
    .question-wall-tags{
        font-size: 1.3rem;
    }

    .question-wall-inside-first h4{
        font-size: 2rem;
    }

    .user-pic-inside{
        height: 6rem;
        width: 6rem;
    }

    .contact-side img,
    .my-user-side img{
        height: 9rem;
        width: 9rem;
    }

    .all-chat-messages-content{
        width: 80rem;
        text-align: center;
        margin-left: 14rem;
    }

    .chat-messages-form form input[type='text']{
        width: 40rem;
    }

    .chat-messages-form form:first-child{
        margin-right: 1rem;
    }

    .chat-messages-form form{
        text-align: center;
    }

    pre{
        font-size: 1.3rem;
    }

}

/* phones (iphone SE) */
/* 375px - 767px <=767px */
@media only screen and (max-width: 767px) {
    html, body{
        font-size: 5px; 
    }

    nav form input[type='text']{
        width: 30rem;
        font-size: 1.4rem;
    }

    .nav-burger {
        display: flex;
        font-size: 5rem;
        color: white;
    }

    .nav-elements{
        display: none;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        margin-right: 10rem;
    }

    .forum-pic{
        display: none;
    }

    .forum-pic2{
        display: inline;
        height: 6rem;
        width: 7rem;
        box-shadow: none;
        margin-right: 2rem;
    }

    .user-pic{
        width: 4rem;
        height: 4rem;
    }

    .main-header{
        font-size: 2.5rem;
    }

    .question-wall-inside-second img{
        height: 15rem;
        width: 20rem;
    }

    .question-wall-inside-first h4{
        font-size: 1.5rem;
    }

    .question-wall-inside-first h6{
        font-size: 1.25rem;
    }

    .question-wall-inside-first P{
        font-size: 1rem;
    }

    .question-wall{
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .user-profile-options{
        width: 50rem;
        margin: 0 auto;
    }

    .register-info-profile-view{
        margin: 2rem auto;
    }

    .users-list{
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .user-mini{
        margin: 2rem auto;
    }

    .browe-users-form{
        margin: 2rem auto;
        margin-left: 14rem;
    }

    pre{
        font-size: 1rem;
    }


}

/* small phones najmniejsze urzadzenie mobilne */ 
/* 0px - 374px <=374px */
@media only screen and (max-width: 374px) {

}