{% extends 'base.html' %}

{% block title %} Changing password {% endblock title %}

{% block content %}

    {% include 'messages.html' %}

    {% if passError %}
        <div class="register-info">
            <h3>Password doesn't satisfy below requirement{{length|pluralize}}:</h3>
            <ul>
                {% for err in passError %}
                    <li>{{err}}</li>
                {% endfor %}
            </ul>  
        </div>
    {% endif %}

    <div class="main-form">

        <div>
            <h1 class="main-header">Change password</h1>
        </div>

        <form action="{% url 'accounts:change_user_password' %}" method="post">
            {% csrf_token %}
            <div class="main-form-component">
                <input type="password" name="old_password" autocomplete="current-password" autofocus="" required="" id="id_old_password" placeholder="Old password">
            </div>
    
            <div class="main-form-component">
                <input type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1" placeholder="New password">
            </div>
    
            <div class="main-form-component">
                <input type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2" placeholder="Confirm new password">
            </div>
    
            <div class="form-btn">
                <button type="submit" class="btn btn-change-pass">Change password</button>
            </div>
            
        </form>

    </div>

{% endblock content %}
    
    