{% extends 'base.html' %}

{% block title %} Log in {% endblock title %}

{% block content %}

    {% include 'messages.html' %}
    <div class="main-form register-main-form">
        <div>
            <h1 class="main-header">Sign in</h1>
        </div>

        <form action="{% url 'accounts:login_user' %}" method="post">
            {% csrf_token %}

            <div class="main-form-component">
                <input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username" placeholder="Username">
            </div>

            <div class="main-form-component">
                <input type="password" name="password" autocomplete="current-password" required="" id="id_password" placeholder="Password">
            </div>

            <div class="form-btn">
                <button type="submit" class="btn">Log in</button>
            </div>
        </form>

        <a href="{% url 'accounts:reset_user_password' %}">Forgot password? Reset</a>
        <a href="{% url 'accounts:register' %}">Don't have an account yet? Register</a>
    </div>
{% endblock content %}
    