{% extends 'base.html' %}

{% block title %} Account registration {% endblock title %}

{% block content %}

    {% if passError %}
        <div class="register-info">
            <h3>Password doesn't satisfy below requirement{{length|pluralize}}:</h3>
            <ul>
                {% for err in passError %}
                    <li>{{err}}</li>
                {% endfor %}
            </ul>  
        </div>
    {% endif %}

    {% include 'messages.html' %}

    <div class="main-form register-main-form">
        <div>
            <h1 class="main-header">Create account</h1>
        </div>
        <form action="{% url 'accounts:register' %}" method="post">
            {% csrf_token %}
            <div class="main-form-component">
                <label for="id_username">Username</label>
                <input type="text" name="username" maxlength="150" autofocus="" required="" id="id_username">
            </div>

            <div class="main-form-component">
                <label for="id_email">Email</label>
                <input type="email" name="email" required="" id="id_email">
            </div>

            <div class="main-form-component">
                <label for="id_role">Role</label>
                <select name="role" id="id_role" required>
                    <option value="" selected disabled>Select your role</option>
        
                    {% for short, long in roles %}
                        <option value="{{short}}">{{long}}</option>   
                    {% endfor %}
        
                </select>
            </div>

            <div class="main-form-component">
                <label for="id_password1">Password</label>
                <input type="password" name="password1" autocomplete="new-password" required="" id="id_password1">
            </div>

            <div class="main-form-component">
                <label for="id_password2">Password confirmation</label>
                <input type="password" name="password2" autocomplete="new-password" required="" id="id_password2">
            </div>

            <div class="form-btn">
                <button type="submit" class="btn">Register</button>
            </div>
        </form>
        <a href="{% url 'accounts:login_user' %}">Do you have already and account? Log in</a>
    </div>
{% endblock content %}
    
    