{% extends 'base.html' %}

{% block title %} Set new password {% endblock title %}
    
{% block content %}

    {% include 'messages.html' %}
    <div class="main-form">
        <div>
            <h1>Please enter your new password</h1>
        </div>
        <form method="post">
            {% csrf_token %}
    
            <div class="main-form-component">
                <label for="id_email">New password</label>
                <input type="email" name="new_pass" autocomplete="email" maxlength="254" required="" id="id_email">
            </div>

            <div class="main-form-component">
                <label for="id_email">Confirm new password</label>
                <input type="email" name="new_pass_rep" autocomplete="email" maxlength="254" required="" id="id_email">
            </div>
    
            <div class="form-btn">
                <button type="submit" class="btn">Send email</button>
            </div>
        </form>
    </div>
{% endblock content %}