{% extends 'base.html' %}

{% block title %}
    Collection - {{returnType}}
{% endblock title %}

{% block content %}

    <div>
        <h1 class="main-header">Collection review - {{returnType|capfirst}}</h1>
        <div class="collection-icon-desc">
            
            {% if type == "q" %}
                <a href="{% url 'forumapp:display_collection_items' 'questions' 'my' %}">
                    <ion-icon name="list" class="icon"></ion-icon>
                    <p>My questions</p>
                </a>
                <a href="{% url 'forumapp:display_collection_items' 'questions' 'fav' %}">
                    <ion-icon name="star" class="icon"></ion-icon>
                    <p>Favorite questions</p>
                </a>
            {% else %}
                <a href="{% url 'forumapp:display_collection_items' 'answers' 'my' %}">
                    <ion-icon name="list" class="icon"></ion-icon>
                    <p>My answers</p>
                </a>
                <a href="{% url 'forumapp:display_collection_items' 'answers' 'fav' %}">
                    <ion-icon name="star" class="icon"></ion-icon>
                    <p>Favorite answers</p>
                </a> 
            {% endif %}
        </div>
    </div>
 
{% endblock content %}
    
    