{% extends 'base.html' %}

{% block title %}
    Collection - {{type}}
{% endblock title %}

{% block content %}
    
    {% if type == "questions" %}

    <div>
        <h1 class="main-header">Collection review - {{type|capfirst}}</h1>
        <div class="collection-icon-desc">
            <a href="{% url 'forumapp:display_collection_items' 'quest' 'my' %}">
                <ion-icon name="list" class="icon"></ion-icon>
                <p>My questions</p>
            </a>
            <a href="#">
                <ion-icon name="star" class="icon"></ion-icon>
                <p>Favorite questions</p>
            </a>
        </div>
    </div>

    {% else %}
        <div>
            <h1 class="main-header">Collection review - {{type|capfirst}}</h1>
            <div class="collection-icon-desc">
                <a href="#">
                    <ion-icon name="list" class="icon"></ion-icon>
                    <p>My answers</p>
                </a>
                <a href="#">
                    <ion-icon name="star" class="icon"></ion-icon>
                    <p>Favorite answers</p>
                </a>
            </div>
        </div>
    {% endif %}
    
{% endblock content %}
    
    