{% extends 'base.html' %}

{% block title %} {{userProf.username}}'s profile {% endblock title %}
    
{% block content %}

    {% if userProf.is_your_profile and not user.userprofile.bio %}
        <div class="register-info register-info-profile-view">
            <h1>Reminder:</h1>
            <h2>Please provide your bio !</h2>  
        </div>
    {% endif %}

    <div class="user-profile-all-content">
        <div class="user-profile-avatar-desc">
            <div class="user-profile-avatar">
                <img src="{{userProf.userprofile.avatar.url}}" alt="pic" height="200" width="200">
            </div>
            <div class="user-profile-desc">
                <p>Username: {{userProf.username}}</p>
                <p>{{userProf.email}}</p>
                {% for short, long in roles %}
                    {% if short == userProf.userprofile.role %}
                        <p>Current role: {{long}}</p>
                    {% endif %} 
                {% endfor %}
                <p>Joined: {{userProf.date_joined|date:'j E Y'}}</p>
                <p>Followers: </p>
                
                {% if userProf.is_your_profile %}
                    {% if userProf.userprofile.stop_notifications%}
                        <p>Email notifilations: OFF</p>
                    {% else %}
                        <p>Email notifilations: ON</p>   
                    {% endif %}
                {% else %}
                    <p>Posted: {{quest_posted_count}} question{{quest_posted_count|pluralize}}</p>
                {% endif %}       
            </div>  
        </div>
    
        {% if userProf.userprofile.bio %}
            <div class="user-profile-bio">
                <p>{{userProf.userprofile.bio}}</p>
            </div>  
        {% endif %}
 
        <div class="user-profile-options">
            
            {% if userProf.is_your_profile %}
                <a href="{% url 'accounts:change_user_password' %}">Change password</a>
                <a href="{% url 'accounts:profile_update' %}">Update profile</a>
                <a href="{% url 'accounts:remove_account' %}">Delete account</a>
            {% else %}
                <a href="{% url 'forumapp:send_email_message' userProf.id %}">Send email</a>
                
                {% if userProf.is_followed %}
                    <a href="{% url 'forumapp:follow_unfollow' userProf.id %}">Unfollow</a> 
                {% else %}
                    <a href="{% url 'forumapp:follow_unfollow' userProf.id %}">Follow</a>  
                {% endif %}
                    
                
            {% endif %}
                
        </div>

    </div>

{% endblock content %}