{% extends 'base.html' %}

{% block title %} My contacts {% endblock title %}

{% block content %}

    {% if followingUsers %}
        <h1 class="main-header following-users-header">Following users</h1>
        <div class="users-list">
            {% for following in followingUsers %}
                <div class="user-mini">
                    <a href="{% url 'forumapp:profile_view' following.id %}">
                        <img src="{{following.userprofile.avatar.url}}" alt="pic">
                        <p>{{following.username}}</p>
                        {% for short, long in roles %}
                            {% if following.userprofile.role == short %}
                                <div class="question-wall-tags role-div">
                                    <small>{{long}}</small>
                                </div>
                            {% endif %}
                        {% endfor %}
                        <p>Joined: {{following.date_joined|date:'j E Y'}}</p>
                    </a>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <h1 class="main-header">You don't follow any users!</h1>
    {% endif %}
{% endblock content %}
    
    