{% extends 'base.html' %}

{% block title %}
    New question composing
{% endblock title %}

{% block content %}

    <h1>Compose and post new question!</h1>

    {% include 'messages.html' %}

    <form action="{% url 'forumapp:new_question' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="id_title">Title</label>
        <input type="text" name="title" maxlength="300" required="" id="id_title">

        <label for="id_text">Text</label>
        <textarea name="text" cols="40" rows="10" required="" id="id_text"></textarea>

        <label for="id_code_example">Code example</label>
        <textarea name="code_example" cols="40" rows="10" id="id_code_example"></textarea>

        <label for="id_image">Image</label>
        <input type="file" name="image" accept="image/*" id="id_image">

        <label for="id_tags">Tags</label>
        <input type="text" name="tags" required="" id="id_tags" data-role="tagsinput">

        <button type="submit">Post</button>

    </form>
    
{% endblock content %}
    
    