{% extends 'base.html' %}

{% block title %}
    {{question.title}}
{% endblock title %}

{% block content %}

    <div class="question-wall detailed-quest">

        <div class="question-wall-inside detailed-quest-inside">

            <div class="user-info-post">
                <img src="{{question.user.userprofile.avatar.url}}" alt="pics" height="70" width="70">
                <h6>{{question.user}}</h6>
                <small>{{question.user.userprofile.display_fullname_user_role}}</small>
                <small>Joined {{question.user.date_joined|date:'j-M-o'}}</small>
            </div>

            <div class="quest-detailed-content-image">

                <div class="question-wall-inside-first">

                    <h4>{{question.title|capfirst}}</h4>
                    <h6>Posted {{question.display_time}}</h6>
                    <p>{{question.text}}</p> 

                    {% if question.code_example %}
                        <div class="detailed-question-wall-inside-second code-example">
                            <code>{{question.code_example}}</code>
                        </div>
                    {% endif %}

                    {% if question.image %}
                        <div class="question-wall-inside-second detailed-question-wall-inside-second">
                            <a href="{{question.image.url}}">
                                <img src="{{question.image.url}}" alt="pic" width="350">
                            </a>  
                        </div>
                    {% endif %}
                
                    <div class="counting"> 
                        {% if question.is_liked %}
                            <a href="{% url 'forumapp:like_dislike_item' question.id 'question' %}">
                                <p><ion-icon name="thumbs-up"></ion-icon>{{question.total_likes}}</p>
                            </a>
                        {% else %}
                            <a href="{% url 'forumapp:like_dislike_item' question.id 'question' %}">
                                <p><ion-icon name="thumbs-up-outline"></ion-icon>{{question.total_likes}}</p>
                            </a>
                        {% endif %}

                        <p><ion-icon name="chatbox"></ion-icon>{{question.total_answers}}</p>
                    </div>
        
                    <div class="question-wall-tags">
                        {% for tag in question.tags.all %}
                            <small>#{{tag}}</small>
                        {% endfor %}   
                    </div>

                    <div class="question-actions">
                        <a href="{% url 'forumapp:add_answer' question.id %}">Answer</a>
                        {% if question.is_your %}
                            <a href="{% url 'forumapp:edit_item' question.id 'question' %}">Edit</a> 
                            <a href="{% url 'forumapp:delete_my_item' question.id 'question' %}">Delete</a>
                        {% endif %}  
                    </div>
                    
                </div>

            </div>
            
        </div>

    </div>

    {% if answers %}

        <h1 class="main-header">Answers</h1> 

            {% for answer in answers %}
                <div class="question-wall detailed-quest">
                    <div class="question-wall-inside detailed-quest-inside ">

                        <div class="user-info-post">
                            <img src="{{answer.user.userprofile.avatar.url}}" alt="pics" height="70" width="70">
                            <h6>{{answer.user}}</h6>
                            <small>{{answer.user.userprofile.display_fullname_user_role}}</small>
                            <small>Joined {{answer.user.date_joined|date:'j-M-o'}}</small>
                        </div>

                        <div class="quest-detailed-content-image">

                            <div class="question-wall-inside-first">
                                <h6>Posted {{answer.display_time}}</h6>
                                <p>{{answer.text}}</p> 
            
                                {% if answer.code_example %}
                                    <div class="detailed-question-wall-inside-second code-example">
                                        <code>{{answer.code_example}}</code>
                                    </div>
                                {% endif %}
            
                                {% if answer.image %}
                                    <div class="question-wall-inside-second detailed-question-wall-inside-second">
                                        <a href="{{answer.image.url}}">
                                            <img src="{{answer.image.url}}" alt="pic" width="350">
                                        </a>  
                                    </div>
                                {% endif %}
                            
                                <div class="counting">
                                    {% if answer.is_liked %}
                                        <a href="{% url 'forumapp:like_dislike_item' answer.id 'answer' %}">
                                            <p><ion-icon name="thumbs-up"></ion-icon>{{answer.total_likes}}</p>
                                        </a>
                                    {% else %}
                                        <a href="{% url 'forumapp:like_dislike_item' answer.id 'answer' %}">
                                            <p><ion-icon name="thumbs-up-outline"></ion-icon>{{answer.total_likes}}</p>
                                        </a>  
                                    {% endif %}  
                                </div>
            
                                <div class="question-actions">
                                    {% if answer.is_your %}
                                        <a href="{% url 'forumapp:edit_item' answer.id 'answer' %}">Edit</a> 
                                        <a href="{% url 'forumapp:delete_my_item' answer.id 'answer' %}">Delete</a> 
                                    {% endif %}  
                                </div> 
                            </div>
                        </div>
                    </div>
                </div> 
            {% endfor %}
        
    {% else %}
        <h1 class="main-header">This question has no answers yet...</h1>  
    {% endif %}
        
{% endblock content %}
    
    