{% extends 'base.html' %}

{% block title %}
    {{question.title}}
{% endblock title %}

{% block content %}

    <div class="question-wall detailed-quest">

        <div class="question-wall-inside detailed-quest-inside">

            <div class="user-info-post">
                <img src="{{user.userprofile.avatar.url}}" alt="pics" height="70" width="70">
                <h6>{{user.username}}</h6>
                <small>{{user_role}}</small>
                <small>Joined {{user.date_joined|date:'j-M-o'}}</small>
            </div>

            <div class="quest-detailed-content-image">

                <div class="question-wall-inside-first">

                    <h4>{{question.title|capfirst}}</h4>
                    <h6>Posted {{question.display_time}}</h6>
                    <p>{{question.text}}</p> 

                    {% if question.image %}
                        <div class="question-wall-inside-second detailed-question-wall-inside-second">
                            <a href="{{question.image.url}}">
                                <img src="{{question.image.url}}" alt="pic" width="350">
                            </a>  
                        </div>
                    {% endif %}
     
                    <div class="counting">
                        <p><ion-icon name="thumbs-up"></ion-icon>{{question.total_likes}}</p>
                        <p><ion-icon name="chatbox"></ion-icon>{{question.total_answers}}</p>
                    </div>
        
                    <div class="question-wall-tags">
                        {% for tag in question.tags.all %}
                            <small>#{{tag}}</small>
                        {% endfor %}
                    </div>
                    
                </div>

            </div>
            
        </div>

    </div>

{% endblock content %}
    
    