{% extends 'base.html' %}

{% block title %} Replying to message '{{messageTo.subject}}' {% endblock title %}
    
{% block content %}

    {% include 'messages.html' %}

    <h1 class="main-header">
        Replying to message '{{messageTo.subject}}' of {{userContact.username}}
    </h1>

    <div class="answer-composing">

        <div class="question-wall detailed-quest">
            <div>
                <h4>{{messageTo.subject}}</h4>
                <p>{{messageTo.message}}</p>
            </div>
        </div>

        <div class="main-form new-quest-from">

            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="main-form-component main-form-component-new-quest">
                    <label for="id_subject">Title</label>
                    <input type="text" name="subject" maxlength="300" required="" id="id_title">
                </div>
        
                <div class="main-form-component main-form-component-new-quest">
                    <label for="id_message">Text</label>
                    <textarea name="message" cols="40" rows="10" required="" id="id_text"></textarea>
                </div>
        
                <div class="main-form-component main-form-component-new-quest">
                    <label for="id_attachment">Image</label>
                    <input type="file" name="attachment" accept="image/*" id="id_image">
                </div>
        
                <div class="form-btn">
                    <button type="submit" class="btn">Send response</button>
                </div>
            </form>
        </div>
    </div>

{% endblock content %}