{% extends 'base.html' %}

{% block title %} Sending email message to {{user_receiver.username}}{% endblock title %}
    
{% block content %}
    <!-- {% include 'messages.html' %} -->
    <h1 class="main-header">Conversation with {{user_receiver}}</h1>
    <div class="messages-wall">

        <div class="contact-side">
            <img src="{{user_receiver.userprofile.avatar.url}}" alt="pic">
            <p>{{user_receiver.username}}</p>
            {% for short, long in roles %}
                {% if short == user_receiver.userprofile.role %}
                    <div class="question-wall-tags role-div">
                        <small>{{long}}</small>
                    </div>   
                {% endif %}    
            {% endfor %}
        </div>

        <div class="messages-content sending-page">

            {% for message in all_messages %}
                {% if not message.are_you_sender %}
                    <div class="sender-message-container">
                        <h4>{{message.subject}}</h4>
                        <p>{{message.message}}</p>
                        {% if message.attachment %}
                            {{message.attachment}}
                        {% endif %}
                        <div>
                            <small>Sent: {{message.message_date}}</small>
                            <a href="{% url 'forumapp:reply_to_message' user_receiver.id message.id %}">Reply</a>
                        </div>
                    </div>
                {% else %}
                    <div class="receiver-message-container">
                        <h4>{{message.subject}}</h4>
                        <p>{{message.message}}</p>
                        {% if message.attachment %}
                            <a href="{{message.attachment.url}}">Attachment</a>
                        {% endif %}
                        <div>
                            <small>Sent: {{message.message_date}}</small>
                            <a href="{% url 'forumapp:reply_to_message' user_receiver.id message.id %}">Reply</a>
                        </div>
                    </div> 
                {% endif %}
            {% endfor %}
        </div>

        <div class="my-user-side">
            <img src="{{user.userprofile.avatar.url}}" alt="pic">
            <p>{{user.username}}</p>
            {% for short, long in roles %}
                {% if short == user.userprofile.role %}
                    <div class="question-wall-tags role-div">
                        <small>{{long}}</small>
                    </div>   
                {% endif %}    
            {% endfor %}
        </div>
    </div>

    <h1 class="main-header">Composing new message to {{user_receiver.username}}</h1>
    <div class="main-form new-quest-from">

        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="main-form-component main-form-component-new-quest">
                <input type="text" name="subject" maxlength="300" required="" id="id_title" placeholder="Subject">
            </div>
    
            <div class="main-form-component main-form-component-new-quest">
                <textarea name="message" cols="40" rows="10" required="" id="id_text" placeholder="Message"></textarea>
            </div>
    
            <div class="main-form-component main-form-component-new-quest">
                <label for="id_attachment">Add attachment</label>
                <input type="file" name="attachment" accept="image/*" id="id_image">
            </div>
    
            <div class="form-btn form-btn-form">
                <button type="submit" class="btn">Send email</button>
            </div>
        </form>
    </div>
{% endblock content %}
    